#header1 {
    text-align: center;
    padding: 50px;
    background-color: rgb(134, 80, 8);
    
    
}
nav{
    color: rgb(32, 141, 4);
    text-align: center;
    display: block;
    
}
h2{
    text-align: center;
    padding: 50px;
    background-color:rgb(228, 176, 109);
}